<!-- BEGIN: main -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
<script src="https://cdn.ckeditor.com/4.20.1/standard/ckeditor.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<div class="row">
    <div class="col-md-24">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Them moi du an
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Ten du an</th>
                            <th>Mo ta ngan</th>
                            <th>Mo ta chi tiet</th>
                            <th>Tien quyen gop</th>
                            <th>Hinh anh</th>
                            <th>Chuc nang</th>
                        </tr>
                    </thead>
                    <tbody>
                    <!-- BEGIN: list_du_an -->
                        <tr>
                            <th>{KEY}</th>
                            <td>{VALUE.ten_du_an}</td>
                            <td>{VALUE.mo_ta_ngan}</td>
                            <td>{VALUE.mo_ta_chi_tiet}</td>
                            <td>{VALUE.tien_quyen_gop}</td>
                            <td>
                                <img src="{VALUE.hinh_anh}" style="max-width: 300px;">
                            </td>
                            <td>
                                <button class="chuyenveduan btn btn-primary" data-id="{VALUE.id}">Chuyen ve du an</button>
                                <button class="delete btn btn-danger" data-id="{VALUE.id}">Xoa</button>
                            </td>
                        </tr>
                    <!-- END: list_du_an -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    CKEDITOR.replace( 'mo_ta_ngan' );
    CKEDITOR.replace( 'mo_ta_chi_tiet' );
</script>
<script>
    $(document).ready(function(){
        $('body').on('click', '.chuyenveduan', function() {
            var id = $(this).data('id');
            var payload = new FormData();
                payload.append('id', id);
            $.ajax({
                url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachkhongduyet&chuyenveduan=1',
                type: 'post',
                data: payload,
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    if(res.status){
                        toastr.success('Chuyen ve du an thanh cong !');
                        setTimeout(() => {
                            location.reload();
                        }, 500);
                    }else{
                        toastr.error('Chuyen ve du an that bai !');
                    }
                },
            });
        });

        $('body').on('click', '.delete', function() {
            var id = $(this).data('id');
            var payload = new FormData();
                payload.append('id', id);
            $.ajax({
                url: script_name + '?' + nv_lang_variable + '=' + nv_lang_data + '&' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=danhsachkhongduyet&delete=1',
                type: 'post',
                data: payload,
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    if(res.status){
                        toastr.success('Da xoa thanh cong !');
                        setTimeout(() => {
                            location.reload();
                        }, 500);
                    }else{
                        toastr.error('Da xoa that bai !');
                    }
                },
            });
        });
    });
</script>
<!-- END: main -->
