<!-- BEGIN: main -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
<script src="https://cdn.ckeditor.com/4.20.1/standard/ckeditor.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<div class="row">
    <div class="col-md-18">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Them moi du an
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                      <label>Ten du an</label>
                      <input type="text" class="form-control" id="ten_du_an">
                    </div>
                    <div class="form-group">
                        <label>Mo ta ngan</label>
                        <textarea name="mo_ta_ngan" id="mo_ta_ngan" cols="30" rows="10"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Mo ta chi tiet</label>
                        <textarea name="mo_ta_chi_tiet" id="mo_ta_chi_tiet" cols="30" rows="10"></textarea>
                    </div>
                    <div class="form-group">
                        <label>So tien quyen gop</label>
                        <input type="number" class="form-control" id="tien_quyen_gop">
                    </div>
                    <div class="form-group">
                        <label>Hinh anh</label>
                        <input type="file" class="form-control" id="image" multiple>
                    </div>
                    <div class="form-group">
                        <label>Thoi han quyen gop</label>
                        <input type="date" class="form-control" id="thoi_han">
                    </div>
                    <div class="form-group">
                        <label>Tag</label>
                        <input type="text" id="tag" data-role="tagsinput">
                    </div>
                    <div class="form-group">
                        <label>Tinh trang</label>
                        <select class="form-control" id="is_open">
                            <option value="1">Hien thi</option>
                            <option value="2">Tam tat</option>
                        </select>
                    </div>
                    <button type="button" id="createDuan" class="btn btn-default">Them moi</button>
                  </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    CKEDITOR.replace( 'mo_ta_ngan' );
    CKEDITOR.replace( 'mo_ta_chi_tiet' );
</script>
<script>
    $(document).ready(function(){
        $("#createDuan").click(function(){
            var hinh_anh = image.files;
            var payload = new FormData();
                payload.append('ten_du_an', $("#ten_du_an").val());
                payload.append('tien_quyen_gop', $("#tien_quyen_gop").val());
                payload.append('thoi_han', $("#thoi_han").val());
                payload.append('id_tag', $("#tag").val());
                payload.append('is_open', $("#is_open").val());
                for(var i=0;i<hinh_anh.length;i++){
                    payload.append('hinh_anh_'+ i, hinh_anh[i]);
                }
                payload.append('so_luong_anh', hinh_anh.length);
                payload.append('mo_ta_ngan', CKEDITOR.instances.mo_ta_ngan.getData());
                payload.append('mo_ta_chi_tiet', CKEDITOR.instances.mo_ta_chi_tiet.getData());
            $.ajax({
                url: script_name + '?' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=main&create=1', 
                type        : 'post',
                data        : payload, 
                cache       : false,
                contentType : false,
                processData : false,
                success: function(res){
                    if(res.status){
                        toastr.success('them moi thanh cong');
                        setTimeout(() => {
                            location.reload();
                        }, 500);
                    }else{
                        $.each(res.err, function(key , value){
                            toastr.error(value);
                        });
                    }
                }
            });  
        });
              
    });
</script>
<!-- END: main -->
